{% extends 'base.html.twig' %}

{% block title %}Projects Lô-Ba{% endblock %}

{% block main %}

    <div style="background-image: url('{{ asset('build/images/africa-1089242_1920.jpg') }}')" class="sectionProjOne">
        <section class="proj-intro">
            <h1>OUR PROJECTS</h1>
            <section class="sec-pictos">
                {% for project in projects %}
                    <a href="#{{ project.id }}">
                        <img src="{{ asset('uploads/images/' ~ project.icon) }}" alt="">
                    </a>
                {% endfor %}
            </section>
        </section>

        {% for project in projects %}
            <section class="sec-sante">
                <a id="{{ project.id }}"><h2>{{ project.title }}</h2></a>
                <div class="content">
                    {{ project.content|raw }}
                    <img style="width: 100%; margin-top: 1rem" src="{{ asset('uploads/images/' ~ project.media) }}" alt="">
                </div>
            </section>
        {% endfor %}
    </div>
    <style>
        .sec-sante:nth-child(2n+3) {
            background-image: url('{{ asset('build/images/african-5035645_1920.jpg') }}');
        }
    </style>

{% endblock %}
