{# {% extends 'base.html.twig' %} #}

{# {% block title %}Home Lô-Ba{% endblock %} #}

{% block main %}

    <div style="background-image: url('{{ asset('uploads/images/' ~ intro.background) }}')" class="sectionOne">

        <section class="sec-intro">
            {% for message in app.flashes('message') %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}

            <div class="intro">
                {% if locale == 'default' %}
                    {{ intro.content|raw }}
                {% else %}
                    {% for i in introTrans %}
                        {% for intro in i %}
                            {{ intro['introduction.content']|raw }}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
        </section>

        {% if locale == 'default' %}
            {% for section in sections %}
                <section class="sec-mission">
                    <h2 class="mission-title">{{ section.title }}</h2>
                    <div class="mission-txt">
                        {{ section.content|raw }}
                    </div>
                </section>
            {% endfor %}
        {% else %}
            {% for s in sections %}
                {% for section in s %}
                    <section class="sec-mission">
                        <h2 class="mission-title">{{ section['section.title'] }}</h2>
                        <div class="mission-txt">
                            {{ section['section.content']|raw }}
                        </div>
                    </section>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
    <style>
        .sec-mission:nth-child(2n+3) {
            background-image: url('{{ asset('uploads/images/' ~ intro.background2) }}');
        }
    </style>

{% endblock %}