<footer>
    <div class="newsletter">
        <h5>{{ 'footer.newsletter.title'|trans }}</h5>

        {{ form_start(newsletterForm, { 'action': path('app_newsletter_index') }) }}
        {{ form_widget(newsletterForm.email, {'attr' : {'placeholder' : 'footer.newsletter.placeholder'|trans}}) }}
        <button type="submit">{{ 'footer.newsletter.subscribe-btn'|trans }}</button>
        {{ form_end(newsletterForm) }}
    </div>

    <hr>

    <div class="foo-about">
        <h5>{{ 'footer.about.title'|trans }}</h5>
        <p>{{ 'footer.about.content_1'|trans }}</p>
        <p>{{ 'footer.about.content_2'|trans }}</p>

        <ul class="social-icons">
            <li>
                <a href="{{ path('app_members') }}"><i class="fa-solid fa-users"></i>Members</a>
            </li>
            <li>
                <a target="_blank" href="https://www.facebook.com/lobainternationalngo">
                    <i class="fab fa-facebook"></i>
                    Facebook
                </a>
            </li>
        </ul>
    </div>

    <hr>

    <div class="foo-contact">
        <h5>Contact</h5>

        <div class="foo-rens">
            <h6><i class="fas fa-map-marker-alt"></i></h6>
            <ul>
                <li><span>NGO Lô-Ba International, Inc.</span><br>333 EAST 46TH STREET<br>NEW-YORK (USA)</li>
            </ul>
        </div>

        <div class="foo-rens">
            <h6><i class="fas fa-phone"></i></h6>
            <ul>
                <li>+1 347-553-7313</li>
            </ul>
        </div>

        <div class="foo-rens">
            <h6><i class="fas fa-envelope"></i></h6>
            <ul>
                <li><a target="_blank" href="mailto:onglobainternational@gmail.com">onglobainternational@gmail.com</a>
                </li>
            </ul>
        </div>

        <div class="foo-rens">
            <h6><i class="fa-solid fa-desktop"></i></h6>
            <ul>
                <li><a href="{{ path('app_test') }}">Webmasters</a></li>
            </ul>
        </div>
    </div>
</footer>