<header class="head-nav">
    <nav>
        <img class="Logo_loba" src="{{ asset('build/images/Logo_loba.svg') }}" alt="#">

        <ul>
            <li><a href="{{ path('app_home') }}">Accueil</a></li>
            <li><a href="{{ path('app_test') }}">Projets</a></li>
            <li><a href="{{ path('app_testt') }}">Blog</a></li>
            <li><a href="#">Dons</a></li>
        </ul>

        <a href="{{ path('app_testtt') }}">Connexion</a>

        <div>FR</div>
    </nav>
</header>