{% extends 'base.html.twig' %}

{% block title %}Blog list Lô-Ba{% endblock %}

{% block main %}
    <div class="sectionBlogs">
        <section class="blogs-intro">
            <h1>NEWS</h1>
        </section>

        <section class="sec-blogsList">
            <div class="img-container">
                <img class="blogs-img" src="{{ asset('build/images/children-of-uganda-2245270_1920.jpg') }}" alt="lorem">
            </div>
            <a href="{{ path('app_testttt') }}">
                <div class="blog-resume">
                    <h2 id="blogs-title">LOREM IPSUM DOLOR</h2>
                    <p class="blogs-txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias praesentium, rerum! Alias amet asperiores assumenda, atque aut blanditiis consequatur consequuntur dignissimos doloremque eius explicabo facere harum id impedit incidunt laborum libero minima molestiae molestias nam necessitatibus nesciunt nobis numquam perspiciatis porro praesentium quae quaerat quasi quidem quos ratione repellat similique sint totam unde veritatis voluptatum! Corporis eaque itaque minima quasi repellendus? Beatae explicabo impedit itaque pariatur quod ratione sint! Aliquid corporis dolorum in magnam molestiae nemo. Assumenda culpa cumque dicta eligendi perspiciatis repellendus sit temporibus? Adipisci doloribus error et fugit, iste laudantium modi quaerat quas, qui quia rerum unde ut.
                    </p>
                </div>
            </a>
        </section>

        <section class="sec-blogsList">
            <div class="img-container">
                <img class="blogs-img" src="{{ asset('build/images/children-of-uganda-2245270_1920.jpg') }}" alt="lorem">
            </div>
            <a href="{{ path('app_testttt') }}">
                <div class="blog-resume">
                    <h2 id="blogs-title">LOREM IPSUM DOLOR</h2>
                    <p class="blogs-txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias praesentium, rerum! Alias amet asperiores assumenda, atque aut blanditiis consequatur consequuntur dignissimos doloremque eius explicabo facere harum id impedit incidunt laborum libero minima molestiae molestias nam necessitatibus nesciunt nobis numquam perspiciatis porro praesentium quae quaerat quasi quidem quos ratione repellat similique sint totam unde veritatis voluptatum! Corporis eaque itaque minima quasi repellendus? Beatae explicabo impedit itaque pariatur quod ratione sint! Aliquid corporis dolorum in magnam molestiae nemo. Assumenda culpa cumque dicta eligendi perspiciatis repellendus sit temporibus? Adipisci doloribus error et fugit, iste laudantium modi quaerat quas, qui quia rerum unde ut.
                    </p>
                </div>
            </a>
        </section>

        <section class="sec-blogsList">
            <div class="img-container">
                <img class="blogs-img" src="{{ asset('build/images/children-of-uganda-2245270_1920.jpg') }}" alt="lorem">
            </div>
            <a href="{{ path('app_testttt') }}">
                <div class="blog-resume">
                    <h2 id="blogs-title">LOREM IPSUM DOLOR</h2>
                    <p class="blogs-txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias praesentium, rerum! Alias amet asperiores assumenda, atque aut blanditiis consequatur consequuntur dignissimos doloremque eius explicabo facere harum id impedit incidunt laborum libero minima molestiae molestias nam necessitatibus nesciunt nobis numquam perspiciatis porro praesentium quae quaerat quasi quidem quos ratione repellat similique sint totam unde veritatis voluptatum! Corporis eaque itaque minima quasi repellendus? Beatae explicabo impedit itaque pariatur quod ratione sint! Aliquid corporis dolorum in magnam molestiae nemo. Assumenda culpa cumque dicta eligendi perspiciatis repellendus sit temporibus? Adipisci doloribus error et fugit, iste laudantium modi quaerat quas, qui quia rerum unde ut.
                    </p>
                </div>
            </a>
        </section>
    </div>
{% endblock %}