{% extends 'base.html.twig' %}

{% block title %}Blog list Lô-Ba{% endblock %}

{% block main %}

    <div class="sectionBlogs">
        <section class="blogs-intro">
            <h1>{{ 'news_page.title'|trans }}</h1>
        </section>

        <div class="news-grid">
            {% for post in posts %}
                <section class="sec-blogsList">
                    <div class="img-container">
                        <img class="blogs-img" src="{{ asset('uploads/images/' ~ post.media) }}" alt="lorem">
                    </div>
                    <a href="{{ path('app_blog_post', {'post': post.id, '_locale': app.request.locale}) }}">
                        <div class="blog-resume">
                            <h2 id="blogs-title">
                                {{ locale == 'default' ? post.title : ((post.translations|filter(t=>t.keyword == 'post.title')|first).value|raw) }}
                            </h2>
                            <div class="blogs-txt">
                                {{ locale == 'default' ? post.content|slice(0, 150)|raw : ((post.translations|filter(t=>t.keyword == 'post.content')|first).value)|raw }}
                            </div>
                        </div>
                    </a>
                </section>
            {% endfor %}
        </div>
    </div>
{% endblock %}