{% extends 'base.html.twig' %}

{% block title %}Blog list Lô-Ba{% endblock %}

{% block main %}
    <div class="sectionBlog">
        <section class="blog-intro">
            <div class="img-cont">
                <img class="blog-img" src="{{ asset('uploads/images/'~post.media) }}" alt="lorem">
            </div>
        </section>

        <section class="sec-blogList">
            <div class="blog-res">
                <h1 id="blog-title">{{ post.title }}</h1>
                <div class="blog-ac">
                    {{ post.content|raw }}
                </div>
            </div>
{#            <div class="blog-dev">#}
{#                <h2 id="blog-miniTitle"> {{ post.title }}</h2>#}
{#                <div class="blog-txt">#}
{#                    {{ post.content|raw }}#}
{#                </div>#}
{#            </div>#}
        </section>
    </div>
{% endblock %}